

 <div class="main-info">
	<article class="text-center">
		<div class="card-icn"><i class="material-icons">monetization_on</i></div>
		<div class="card-body">
			 <span style="color: #e86882;">Room Budget</span>
			 <h4 class="card-title">Rs. 15000</h4>
			 <a class="card-link" >view detail</a>
		</div>
	</article>

	<article class="text-center room_info">
		<div class="card-icn"><i class="material-icons">monetization_on</i></div>
		<div class="card-body">
			 <span style="color: #3e78f5;">Your current balance</span>
			 <h4 class="card-title">Rs. 2500</h4>
			 <a class="card-link" [routerLink]="['/mainInfo']">view detail</a>
		</div>
	</article>
	<article class="text-center room_exps">
		<div class="card-icn"><i class="material-icons">monetization_on</i></div>
		<div class="card-body">
			 <span style="color: #2ec1b4;">Room balance</span>
			 <h4 class="card-title">Rs. 10000</h4>
			 <a class="card-link">view detail</a>
		</div>
	</article>
 </div>
